.test-wrapper {
  font-family: 'Courier Prime', monospace;
}

#generatedParagraph,
#outputtedParagraph {
  letter-spacing: 3px;
}

#generatedParagraph {
  flex: 1;
}

#outputtedParagraph {
  max-width: 48%;
}

.active::after,
.space::after {
  position: absolute;
  content: '';
  width: 100%;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  animation: typing 1000ms infinite;
}

.active::after {
  height: 100%;
  bottom: 0;
}

.space::after {
  height: 40px;
  bottom: -12px;
}

.error.active::after,
.error.space::after {
  background: red;
  opacity: 0.4;
  animation: error 1000ms infinite;
}

@keyframes typing {
  0% {
    background-color: rgba(0, 0, 0, 0.3);
  }
  50% {
    background-color: transparent;
  }
}

@keyframes error {
  0% {
    background-color: red;
  }
  50% {
    background-color: transparent;
  }
}
